

.content-holder{
	max-width: 1750px;
	min-width: 440px;
	margin-left: auto;
	margin-right: auto;

	align-items: start;
	
	display: grid;
	grid-gap: 20px;
	padding: 20px;
	

	grid-template-columns: 1fr auto;
	grid-template-rows: auto auto auto 1fr;

	grid-template-areas:
		"video-box recommendations"
		"title-box recommendations"
		"description-box recommendations"
		"comments-box recommendations";
}

.content-holder.collapsed{

	grid-template-columns: auto;
	grid-template-rows: auto auto auto auto 1fr;
	grid-template-areas:
		"video-box"
		"title-box"
		"description-box"
		"recommendations"
		"comments-box";
}

.content-holder.collapsed .grid-recommended-videos-box-block{
	width: initial;
}


.grid-video-box-block{
	width: 100%;
	position: relative;
	padding-top: 56.25%;
	grid-area: video-box;
}

.video-box{
	background-color: black;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}


.grid-title-box-block{
	grid-area: title-box;
}

.grid-description-box-block {
	grid-area: description-box;
}

.grid-comments-box-block {
	grid-area: comments-box;
}

.grid-recommended-videos-box-block {
	width: 400px;
	grid-area: recommendations;
}


