



.all-recommended-videos-box{
	display: grid;
	grid-gap: 10px;
	
}


.all-recommended-videos-box > .videos-holder{
	display: grid;
	grid-gap: 10px;
}


.recommended-video-box{
	display: flex;
}

.recommended-video-thumbnail{
	background-color: black;

	--height: 85px;
	height: var(--height);
	width: calc((16/9) * var(--height));
	flex-shrink: 0;
	position: relative;
}

.recommended-video-thumbnail > img{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.recommended-video-info-box{
	margin-left: 10px;
	font-size: 13.5px;
}

.recommended-video-info-box *{
	margin-bottom: 5px;
}




.all-recommended-videos-box > .bottom-content-holder > .show-more-videos-button{
	--highlight-color: #065fd4; 
	height: 35px;
	border-radius: 3px;
	border: 1px solid var(--highlight-color);
	display: grid;
	align-content: center;
	justify-content: center;
	color: var(--highlight-color);
	text-transform: uppercase;
	font-weight: 500;
	font-size: 13px;
	cursor: pointer;
}

.all-recommended-videos-box > .bottom-content-holder > .show-more-videos-button.hidden{
	display: none;
}

.all-recommended-videos-box > .bottom-content-holder > .loading-indicator-box{
	display: grid;
	align-content: center;
	justify-content: center;
	height: 60px;
}

.all-recommended-videos-box > .bottom-content-holder > .loading-indicator-box.hidden{
	display: none;
}



.all-recommended-videos-box > .bottom-content-holder > .loading-indicator-box > .loading-indicator{
	--size: 40px;
}



