



main{
	margin-top: var(--header-height);	
}


:root{
	--header-height: 50px;
}

header{
	height: var(--header-height);
	background-color: white;
	box-shadow: 0px 3px 10px rgba(125, 125, 125, 0.2);
	position: fixed;
	width: 100%;
	z-index: 1000;
	top: 0;
	min-width: 420px;
}

.header-content{
	display: grid;
	grid-template-columns: auto 1fr auto;
	height: 100%;
	margin: 0 25px;
	gap: 40px;

}

.header-content .header-icon{
	width: 20px;
	height: 20px;
}

.header-content .header-icon > svg{
	fill: rgb(96, 96, 96);
}

.header-content > .left-content{
	display: grid;
	grid-auto-flow: column;
	align-items: center;
	grid-gap: 20px
}

.header-content > .left-content > .youtube-logo{
	width: 86px;
}



.header-content > .center-content > .search-box-container{
	max-width: 640px;
	margin: 0 auto;
	height: 100%;
	display: flex;
	align-items: center;
}



.header-content .search-box{
	height: 30px;
	background-color: white;
	width: 100%;
	border: 1px solid rgb(211, 211, 211);
	border-radius: 3px;
	display: grid;
	grid-auto-flow: column;
	align-items: center;
	grid-template-columns: 1fr auto;
}

.header-content .search-box form{
	display: grid;
}



.header-content .search-box .search-placeholder{
	margin-left: 10px;
	font-size: 16px;
	color: black;	
	
}

.header-content .search-box .search-button-box{
	--search-icon-color: rgb(150, 150, 150);
	

	width: 65px;
	align-self: stretch;
	background-color: rgb(248, 248, 248);
	display: flex;
	align-items: center;
	justify-content: center;
	border-left: 1px solid rgb(211, 211, 211);
	cursor: pointer;
}

.header-content .search-box .search-button-box:hover{
	--search-icon-color: rgb(90, 90, 90);
	background-color: rgb(230, 230, 230);
}

.header-content .search-box .search-icon{
	height: 20px;
	width: 20px;
}

.header-content .search-box .search-icon > svg{
	fill: var(--search-icon-color);
}



.header-content > .right-content{

	display: grid;
	grid-auto-flow: column;
	align-items: center;
	gap: 20px;
}



.header-content > .right-content .search-icon{
	display: none;	
}


@media (max-width: 600px){

	.header-content{
		grid-template-columns: auto auto;
		justify-content: space-between;
		gap: initial;
	}
	
	.header-content .center-content{
		display: none;
	}
	
	.header-content .right-content .search-icon{
		display: block;
	}
}

/*-----------------------*/


