



main{
	margin-left: var(--side-bar-current-width);
}


/* General Stuff */

:root{
	--side-bar-wide-width: 240px;
	--side-bar-narrow-width: 72px;
	--side-bar-current-width: var(--side-bar-wide-width);
}

.side-bar{
	background-color: rgb(245, 245, 245);
	position: fixed;
	top: var(--header-height);
	bottom: 0;
	overflow: scroll;
	width: var(--side-bar-current-width);
}

.side-bar .cell{
	cursor: pointer;
}

.side-bar .cell:hover{
	background-color: rgb(220, 220, 220);
}

.side-bar .cell .icon{
	height: 24px;
	width: 24px;
}

.side-bar .wide-content .cell .icon > svg{
	fill: rgb(96, 96, 96);
}




/* wide content */

.side-bar .wide-content .cell-segment{
	padding: 15px 0;
}

.side-bar .wide-content .cell{
	display: flex;
	flex-direction: row;
	align-items: center;
	height: 40px;
}

.side-bar .wide-content .padded-cell{
	padding-left: 20px;
	padding-right: 20px;
}

.side-bar .wide-content .cell .icon{
	margin-right: 20px;
}

.side-bar .wide-content .cell .label{
	font-size: 14px;
}

.side-bar .wide-content .segment-title{
	font-size: 14px;
	font-weight: 500;
	margin-bottom: 10px;
	color: rgb(96, 96, 96);
	text-transform: uppercase;
}

.side-bar .wide-content .sign-in-segment{
	display: grid;
	grid-gap: 15px;
	justify-items: start;
}
.side-bar .wide-content .sign-in-segment > .text{
	font-size: 15px;
	color: rgb(30, 30, 30);
}


.side-bar .wide-content .footer-cell-segment{
	padding-top: 20px;
	padding-bottom: 20px;
}

.side-bar .wide-content .footer-cell-segment .links{
	line-height: 18px;
}

.side-bar .wide-content .footer-cell-segment .links1{
	margin-bottom: 10px;
}

.side-bar .wide-content .footer-cell-segment .links2{
	margin-bottom: 20px;
}

.side-bar .wide-content .footer-cell-segment .link{
	font-weight: 500;
	font-size: 13px;
	color: rgb(96, 96, 96);
	margin-right: 3px;
	word-wrap: none;
	cursor: pointer;
}

.side-bar .wide-content .footer-cell-segment .copyright-info{
	font-size: 13px;
}


/* narrow content */

.side-bar .narrow-content{
	display: none;
}

.side-bar .narrow-content .cell{
	height: 74px;
	display: grid;
	justify-items: center;
	align-content: center;
	grid-gap: 5px;
}

.side-bar .narrow-content .cell .icon {
	width: 24px
}

.side-bar .narrow-content .cell .icon > svg{
	fill: rgb(144, 144, 144);
} 

.side-bar .narrow-content .cell .label{
	font-size: 10px;
	color: rgb(96, 96, 96);
}

@media(max-width: 1125px){
	:root{
		--side-bar-current-width: var(--side-bar-narrow-width);
	}
	
	.side-bar .wide-content{
		display: none;
	}

	.side-bar .narrow-content{
		display: initial;
	}
}

@media(max-width: 750px){

	:root{
		--side-bar-current-width: 0;
	}
	.side-bar{
		display: none;
	}
}

/* ------------------------ */
