


/* General Stuff */


:root{
	--side-bar-background-color: rgb(245, 245, 245);
	--wide-side-bar-width: 240px;
	--narrow-side-bar-width: 72px;
}


.side-bar .cell{
	cursor: pointer;
}

.side-bar .cell:hover{
	background-color: rgb(220, 220, 220);
}

.side-bar .cell .icon{
	height: 24px;
	width: 24px;
}

.wide-side-bar .cell .icon > svg{
	fill: rgb(96, 96, 96);
}




/* wide content */

.wide-side-bar{
	width: var(--wide-side-bar-width);
}

.wide-side-bar .cell-segment{
	padding: 15px 0;
}

.wide-side-bar .cell{
	display: flex;
	flex-direction: row;
	align-items: center;
	height: 40px;
}

.wide-side-bar .padded-cell{
	padding-left: 20px;
	padding-right: 20px;
}

.wide-side-bar .cell .icon{
	margin-right: 20px;
}

.wide-side-bar .cell .label{
	font-size: 14px;
}

.wide-side-bar .segment-title{
	font-size: 14px;
	font-weight: 500;
	margin-bottom: 10px;
	color: rgb(96, 96, 96);
	text-transform: uppercase;
}

.wide-side-bar .sign-in-segment{
	display: grid;
	grid-gap: 15px;
	justify-items: start;
}
.wide-side-bar .sign-in-segment > .text{
	font-size: 15px;
	color: rgb(30, 30, 30);
}


.wide-side-bar .footer-cell-segment{
	padding-top: 20px;
	padding-bottom: 20px;
}

.wide-side-bar .footer-cell-segment .links{
	line-height: 18px;
}

.wide-side-bar .footer-cell-segment .links1{
	margin-bottom: 10px;
}

.wide-side-bar .footer-cell-segment .links2{
	margin-bottom: 20px;
}

.wide-side-bar .footer-cell-segment .link{
	font-weight: 500;
	font-size: 13px;
	color: rgb(96, 96, 96);
	margin-right: 3px;
	word-wrap: none;
	cursor: pointer;
}

.wide-side-bar .footer-cell-segment .copyright-info{
	font-size: 13px;
}


/* narrow content */

.narrow-side-bar{
	width: var(--narrow-side-bar-width);
}

.narrow-side-bar .cell{
	height: 74px;
	display: grid;
	justify-items: center;
	align-content: center;
	grid-gap: 5px;
}

.narrow-side-bar .cell .icon {
	width: 24px
}

.narrow-side-bar .cell .icon > svg{
	fill: rgb(144, 144, 144);
} 

.narrow-side-bar .cell .label{
	font-size: 10px;
	color: rgb(96, 96, 96);
}




.slide-in-side-bar-screen{
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 200;
}

.slide-in-side-bar-screen .dimmer-div{
	background-color: rgba(0, 0, 0, 0.5);
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	opacity: 0;

	transition-property: opacity;	
	transition-duration: 0.3s;
	
}

.slide-in-side-bar-screen.presented .dimmer-div{
	opacity: 1;
}



.slide-in-side-bar-screen .side-bar-holder{
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	background-color: var(--side-bar-background-color);
	
	transform: translateX(calc(var(--wide-side-bar-width) * -1));
	transition-property: transform;
	
	transition-duration: 0.3s;
}

.slide-in-side-bar-screen.presented .side-bar-holder{
	transform: initial;
}




